* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0f0f0f;
    color: #ffffff;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #111;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.logo span {
    color: #00ffd5;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00ffd5;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text span {
    color: #00ffd5;
}

.hero-text h3 {
    margin: 10px 0;
    font-weight: 400;
}

.hero-text p {
    max-width: 500px;
    margin: 20px 0;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background: #00ffd5;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    border-radius: 30px;
}

.hero-img img {
    width: 320px;
    border-radius: 20px;
}

/* SECTIONS */
.section {
    padding: 70px 60px;
}

.section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.dark {
    background: #151515;
}

.center-text {
    text-align: center;
    max-width: 700px;
    margin: auto;
}

/* SKILLS */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.skill-card {
    padding: 20px;
    background: #222;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.skill-card:hover {
    background: #00ffd5;
    color: #000;
}

/* GALLERY */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.gallery img {
    width: 100%;
    border-radius: 15px;
}

/* CERTIFICATE */
.certificate-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.certificate-box img {
    width: 400px;
    border-radius: 10px;
}

/* SOCIAL */
.social-links {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.social-links a {
    text-decoration: none;
    color: #00ffd5;
    font-size: 18px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    font-size: 14px;
}
